; vim: set fileencoding=utf-8 :
; Tue 13 Dec 15:10:15 CET 2016

[buildout]
parts = scripts
develop = .
eggs = bob.db.hci_tagging
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
