; vim: set fileencoding=utf-8 :
; Tue 13 Dec 15:10:15 CET 2016

[buildout]
parts = scripts
eggs = bob.db.hci_tagging
extensions = bob.buildout
             mr.developer
auto-checkout = *
develop = src/bob.extension
          src/bob.blitz
          src/bob.core
          src/bob.io.base
          src/bob.io.video
          src/bob.ip.draw
          src/bob.ip.facedetect
          src/bob.db.base
          src/python-edf
          .

; options for bob.buildout extension
debug = true
verbose = true
newest = false

[sources]
bob.extension = git https://gitlab.idiap.ch/bob/bob.extension
bob.blitz = git https://gitlab.idiap.ch/bob/bob.blitz
bob.core = git https://gitlab.idiap.ch/bob/bob.core
bob.io.base = git https://gitlab.idiap.ch/bob/bob.io.base
bob.io.video = git https://gitlab.idiap.ch/bob/bob.io.video
bob.ip.draw = git https://gitlab.idiap.ch/bob/bob.ip.draw
bob.ip.facedetect = git https://gitlab.idiap.ch/bob/bob.ip.facedetect
bob.db.base = git https://gitlab.idiap.ch/bob/bob.db.base
python-edf = hg https://bitbucket.org/cleemesser/python-edf
;edfbrowser = git https://github.com/Teuniz/EDFbrowser egg=false

[scripts]
recipe = bob.buildout:scripts
dependent-scripts=true
